# Shopware 6 / Symfony application served via FrankenPHP
{
	auto_https off
}

:8080 {
	root * /app/public
	php_server {
		index index.php
	}
	file_server
	encode zstd br gzip
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		X-Forwarded-Proto https
		X-Forwarded-Host {http.request.host}
		X-Real-IP {http.request.remote.host}
		-Server
	}
	handle_errors {
		respond "{err.status_code} {err.status_text}" {err.status_code}
	}
	log {
		output stderr
		format console
	}
}
